<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.umstouristguide"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="app.umstouristguide.data.ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="app.umstouristguide.MyPointActivity"></activity>
        <activity android:name="app.umstouristguide.RewardActivity" />
        <activity android:name="app.umstouristguide.QuizCategoriesActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="app.umstouristguide.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.umstouristguide.ResultActivity" />
        <activity android:name="app.umstouristguide.QueActivity" />

        <activity
            android:name="app.umstouristguide.ActivityMain"
            android:label="@string/app_name" />

        <activity
            android:name="app.umstouristguide.ActivityMaps"
            android:label="@string/activity_title_maps" />
        <activity android:name="app.umstouristguide.ActivityPlaceDetail" />
        <activity android:name="app.umstouristguide.ActivityFullScreenImage" />
        <activity android:name="app.umstouristguide.ActivitySearch" />
        <activity android:name="app.umstouristguide.ActivityNewsInfo" />
        <activity android:name="app.umstouristguide.ActivityNewsInfoDetails" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Add Google Map Library -->
        <uses-library android:name="com.google.android.maps" /> <!-- Google API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/api_key" />

        <service
            android:name="app.umstouristguide.fcm.FcmMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

    </application>

</manifest>